@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

:root {
    --bgColor: #223843;
    --lightColor:#f5f3f4 ;
}

body {
    background-color: var(--bgColor);
    font-family: 'DM Sans', sans-serif;
}

body {
    padding: 1.5rem;
}

h1 {
    color: var(--lightColor);
}

.input-wrap {
    margin: 5rem auto 3rem;
    border-radius: 7px;
    height: 2.5rem;
    display: flex;
    background-color: #fff;
    align-items: center;
    padding-left: 1rem;
    width: 60vw;
}

input {
    background-color: inherit;
    height: inherit;
    outline: none;
    border: none;
    border-radius: inherit;
    padding-left: 1rem;
}

.search-icon {
    height: 1rem;
    opacity: 0.7;
}

.info1 {
    margin: 2rem 0;
    color: var(--lightColor)
}

h1,
.info1 p {
    margin-bottom: 1.2rem;
}

.info2 {
    background-color: var(--lightColor);
    color: var(--bgColor);
    border-radius: 7px;
    padding: 2rem 1rem;
}

.info2 p {
    margin-bottom: 1rem;
}


@media screen and (min-width: 620px) {
    body {
        padding: 2.5rem;
    }

    header,
    .info-wrap {
        display: flex;
        justify-content: space-between;
    }

    .input-wrap {
        margin: unset;
        width: unset;
    }

    .info-wrap {
        margin-top: 7rem;
    }

    .info2 {
        width: 40vw;
        padding: 2rem 3rem;
    }

    .info2 p {
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 920px) {
    body {
        padding: 2.5rem 6rem;
    }

    .info1 h1 {
        margin-bottom: 2rem;
        font-size: 2.7rem;
    }

    .info2 {
        width: 450px;
    } 

    .input-wrap {
        width: 300px;
    }
}

@media screen and (min-width: 1400px) {
    body{
        max-width: 1320px;
        margin: auto;
    }
}
